In [1]:
from math import sqrt
from numpy import split
from numpy import array
from pandas import read_csv
from sklearn.metrics import mean_squared_error
from matplotlib import pyplot
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers import LSTM
#load libraries
import pandas as pd
import os
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

%matplotlib inline

Using TensorFlow backend.

In [2]:
#load folder-the actual data were given in 17 separate excel files
files = os.listdir('dataLoad')
files

['Cons_Report_012018.xlsx',
 'Cons_Report_012019.xlsx',
 'Cons_Report_022018.xlsx',
 'Cons_Report_022019.xlsx',
 'Cons_Report_032018.xlsx',
 'Cons_Report_032019.xlsx',
 'Cons_Report_042018.xlsx',
 'Cons_Report_042019.xlsx',
 'Cons_Report_052018.xlsx',
 'Cons_Report_052019.xlsx',
 'Cons_Report_062018.xlsx',
 'Cons_Report_072018.xlsx',
 'Cons_Report_082018.xlsx',
 'Cons_Report_092018.xlsx',
 'Cons_Report_102018.xlsx',
 'Cons_Report_112018.xlsx',
 'Cons_Report_122018.xlsx',
 'Load Demand_Forecast.xlsx']

In [3]:
#list of files to loop-only xlsx
files_xls = [f for f in files if 'Cons_Report' in f]
files_xls

['Cons_Report_012018.xlsx',
 'Cons_Report_012019.xlsx',
 'Cons_Report_022018.xlsx',
 'Cons_Report_022019.xlsx',
 'Cons_Report_032018.xlsx',
 'Cons_Report_032019.xlsx',
 'Cons_Report_042018.xlsx',
 'Cons_Report_042019.xlsx',
 'Cons_Report_052018.xlsx',
 'Cons_Report_052019.xlsx',
 'Cons_Report_062018.xlsx',
 'Cons_Report_072018.xlsx',
 'Cons_Report_082018.xlsx',
 'Cons_Report_092018.xlsx',
 'Cons_Report_102018.xlsx',
 'Cons_Report_112018.xlsx',
 'Cons_Report_122018.xlsx']

In [4]:
#create one dataframe from all the excel files
actual = pd.DataFrame()
for f in files_xls:
    data = pd.read_excel('dataLoad/' + f)
    actual=actual.append(data, ignore_index=True)

In [5]:
#get column names
actual.columns

Index(['deliveryDay', 'Hour_EET', 'Gen_Aux', 'HV', 'Pump', 'TEL_MV', 'Network',
       'Total'],
      dtype='object')

In [6]:
#rename columns
actual.columns=['Date','Hour','Gen_Aux', 'HV', 'Pump', 'TEL_MV', 'Network','ActualTotal']
actual.head()

,Date,Hour,Gen_Aux,HV,Pump,TEL_MV,Network,ActualTotal
0,2018-01-01,1,34.418093,757.020147,0.000,596.563993,4529.773678,5321.211918
1,2018-01-01,2,40.928810,760.024989,0.000,589.266551,4205.128845,5006.082645
2,2018-01-01,3,39.286246,750.624526,0.000,585.334471,4116.742544,4906.653316
3,2018-01-01,4,38.678094,756.567856,0.120,582.210175,3833.136857,4628.502808
4,2018-01-01,5,37.498531,731.949138,130.176,581.251131,3608.455842,4508.079510

In [7]:
#load excel with forecast of the current program
forecast=pd.read_excel("dataLoad/Load Demand_Forecast.xlsx")

In [8]:
#data manipulation to create new dataframe
forecast2=forecast[['Weekday',  'Holiday','Date', 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]]
prediction = pd.melt(forecast2, id_vars=["Weekday", "Holiday", "Date"])
prediction.head(10)

   Weekday  Holiday       Date variable   value
0        1        1 2018-01-01        1  5315.0
1        2        0 2018-01-02        1  5023.0
2        3        0 2018-01-03        1  5211.0
3        4        0 2018-01-04        1  5307.0
4        5        0 2018-01-05        1  5420.0
5        6        1 2018-01-06        1  5430.0
6        7        0 2018-01-07        1  5348.0
7        1        0 2018-01-08        1  5170.0
8        2        0 2018-01-09        1  5343.0
9        3        0 2018-01-10        1  5304.0

In [9]:
#rename columns
prediction.columns=[ 'Weekday', 'Holiday', 'Date', 'Hour', 'ForecastTotalLoad' ]
prediction.head(10)

   Weekday  Holiday       Date Hour  ForecastTotalLoad
0        1        1 2018-01-01    1             5315.0
1        2        0 2018-01-02    1             5023.0
2        3        0 2018-01-03    1             5211.0
3        4        0 2018-01-04    1             5307.0
4        5        0 2018-01-05    1             5420.0
5        6        1 2018-01-06    1             5430.0
6        7        0 2018-01-07    1             5348.0
7        1        0 2018-01-08    1             5170.0
8        2        0 2018-01-09    1             5343.0
9        3        0 2018-01-10    1             5304.0

In [10]:
#subtract one hour to get to 0-23 hour format
actual['Hour']=actual['Hour']-1
prediction['Hour']=prediction['Hour']-1

In [11]:
#set index
actual.set_index(['Date', 'Hour']).head()

                   Gen_Aux          HV     Pump      TEL_MV      Network  \
Date       Hour
2018-01-01 0     34.418093  757.020147    0.000  596.563993  4529.773678
           1     40.928810  760.024989    0.000  589.266551  4205.128845
           2     39.286246  750.624526    0.000  585.334471  4116.742544
           3     38.678094  756.567856    0.120  582.210175  3833.136857
           4     37.498531  731.949138  130.176  581.251131  3608.455842

                 ActualTotal
Date       Hour
2018-01-01 0     5321.211918
           1     5006.082645
           2     4906.653316
           3     4628.502808
           4     4508.079510

In [12]:
#set index
prediction.set_index(['Date', 'Hour']).head()

                 Weekday  Holiday  ForecastTotalLoad
Date       Hour
2018-01-01 0           1        1             5315.0
2018-01-02 0           2        0             5023.0
2018-01-03 0           3        0             5211.0
2018-01-04 0           4        0             5307.0
2018-01-05 0           5        0             5420.0

In [13]:
#merge datasets
final = pd.merge(prediction, actual, on=['Date', 'Hour'])
final.head()

,Weekday,Holiday,Date,Hour,ForecastTotalLoad,Gen_Aux,HV,Pump,TEL_MV,Network,ActualTotal
0,1,1,2018-01-01,0,5315.0,34.418093,757.020147,0.000,596.563993,4529.773678,5321.211918
1,2,0,2018-01-02,0,5023.0,45.218816,751.513843,0.000,610.814364,4101.718326,4898.450985
2,3,0,2018-01-03,0,5211.0,37.042898,904.679508,0.000,800.563658,4283.392261,5225.114667
3,4,0,2018-01-04,0,5307.0,35.636497,918.203986,0.000,853.288369,4450.591164,5404.431647
4,5,0,2018-01-05,0,5420.0,37.712368,961.116481,23.108,866.047536,4617.594242,5639.531090

In [14]:
#create Timestamp column
final['Timestamp'] = final['Date'] + pd.to_timedelta(final['Hour'], unit='h')
final.head()

,Weekday,Holiday,Date,Hour,ForecastTotalLoad,Gen_Aux,HV,Pump,TEL_MV,Network,ActualTotal,Timestamp
0,1,1,2018-01-01,0,5315.0,34.418093,757.020147,0.000,596.563993,4529.773678,5321.211918,2018-01-01
1,2,0,2018-01-02,0,5023.0,45.218816,751.513843,0.000,610.814364,4101.718326,4898.450985,2018-01-02
2,3,0,2018-01-03,0,5211.0,37.042898,904.679508,0.000,800.563658,4283.392261,5225.114667,2018-01-03
3,4,0,2018-01-04,0,5307.0,35.636497,918.203986,0.000,853.288369,4450.591164,5404.431647,2018-01-04
4,5,0,2018-01-05,0,5420.0,37.712368,961.116481,23.108,866.047536,4617.594242,5639.531090,2018-01-05

In [15]:
#sort by timestamp
final.sort_values('Timestamp', inplace=True)
final.head()

,Weekday,Holiday,Date,Hour,ForecastTotalLoad,Gen_Aux,HV,Pump,TEL_MV,Network,ActualTotal,Timestamp
0,1,1,2018-01-01,0,5315.0,34.418093,757.020147,0.000,596.563993,4529.773678,5321.211918,2018-01-01 00:00:00
516,1,1,2018-01-01,1,4963.0,40.928810,760.024989,0.000,589.266551,4205.128845,5006.082645,2018-01-01 01:00:00
1032,1,1,2018-01-01,2,4838.0,39.286246,750.624526,0.000,585.334471,4116.742544,4906.653316,2018-01-01 02:00:00
1548,1,1,2018-01-01,3,4515.0,38.678094,756.567856,0.120,582.210175,3833.136857,4628.502808,2018-01-01 03:00:00
2064,1,1,2018-01-01,4,4280.0,37.498531,731.949138,130.176,581.251131,3608.455842,4508.079510,2018-01-01 04:00:00

In [16]:
#create the column of interest
final['XT'] = final['Network'] - final['TEL_MV']

#find the percentage of XT as to total ActualLoad for that day and Hour (TrueValues)
final['%XTofTotal']=final['XT']/final['ActualTotal']

#find the estimation of XTPrediction
final['XTForecastEstimation']=final['%XTofTotal']*final['ForecastTotalLoad']

In [17]:
#finalize dataset and set frequency
final=final[['Timestamp','XT','Weekday','Holiday','XTForecastEstimation']]
final.sort_values('Timestamp', inplace=True)
final.set_index('Timestamp', inplace=True)

In [18]:
#set Hourly index frequency
final = final.asfreq(freq='H', method='pad')
final.index

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2019-05-31 14:00:00', '2019-05-31 15:00:00',
               '2019-05-31 16:00:00', '2019-05-31 17:00:00',
               '2019-05-31 18:00:00', '2019-05-31 19:00:00',
               '2019-05-31 20:00:00', '2019-05-31 21:00:00',
               '2019-05-31 22:00:00', '2019-05-31 23:00:00'],
              dtype='datetime64[ns]', name='Timestamp', length=12384, freq='H')

In [19]:
#check again for NaN in dataframe γιατι τώρα που κουβαλάω και την επιπλέον στήλη εχω το ίδιο θέμα με την ώρα
final[final.isnull().any(axis=1)]

                              XT  Weekday  Holiday  XTForecastEstimation
Timestamp
2018-03-25 03:00:00  2507.887529        7        1                   NaN

In [20]:
#fill with previous value ΝαΝ
final=final.fillna(method='ffill')

In [21]:
final

                              XT  Weekday  Holiday  XTForecastEstimation
Timestamp
2018-01-01 00:00:00  3933.209685        1        1           3928.618104
2018-01-01 01:00:00  3615.862294        1        1           3584.743969
2018-01-01 02:00:00  3531.408073        1        1           3481.997027
2018-01-01 03:00:00  3250.926682        1        1           3171.205588
2018-01-01 04:00:00  3027.204711        1        1           2874.047836
2018-01-01 05:00:00  2934.418572        1        1           2624.699069
2018-01-01 06:00:00  2990.903843        1        1           2645.526199
2018-01-01 07:00:00  3048.662534        1        1           2778.846267
2018-01-01 08:00:00  3189.215049        1        1           3011.633638
2018-01-01 09:00:00  3575.720146        1        1           3690.084004
2018-01-01 10:00:00  4025.499981        1        1           4290.197566
2018-01-01 11:00:00  4384.555882        1        1           4658.451693
2018-01-01 12:00:00  4418.914816        1        1           4664.154683
2018-01-01 13:00:00  4114.951039        1        1           4161.445061
2018-01-01 14:00:00  3588.579278        1        1           3522.867045
2018-01-01 15:00:00  3613.307456        1        1           3632.088682
2018-01-01 16:00:00  3691.870584        1        1           3874.159391
2018-01-01 17:00:00  4014.747240        1        1           4154.514418
2018-01-01 18:00:00  4542.759086        1        1           4619.506448
2018-01-01 19:00:00  4628.660825        1        1           4727.816760
2018-01-01 20:00:00  4618.742294        1        1           4711.705987
2018-01-01 21:00:00  4479.436409        1        1           4537.625312
2018-01-01 22:00:00  4203.659321        1        1           4307.022650
2018-01-01 23:00:00  3931.892508        1        1           4081.543545
2018-01-02 00:00:00  3490.903962        2        0           3579.664399
2018-01-02 01:00:00  3098.818113        2        0           3184.612930
2018-01-02 02:00:00  3037.095439        2        0           3129.620132
2018-01-02 03:00:00  2843.949442        2        0           2876.967825
2018-01-02 04:00:00  2698.265248        2        0           2630.177277
2018-01-02 05:00:00  2706.440093        2        0           2591.360233
...                          ...      ...      ...                   ...
2019-05-30 18:00:00  3441.067112        4        0           3285.356898
2019-05-30 19:00:00  3535.683507        4        0           3377.342090
2019-05-30 20:00:00  3706.157076        4        0           3595.391001
2019-05-30 21:00:00  3968.648087        4        0           3878.867981
2019-05-30 22:00:00  3609.556629        4        0           3513.264552
2019-05-30 23:00:00  3174.902633        4        0           3115.374034
2019-05-31 00:00:00  2722.238313        5        0           2628.063717
2019-05-31 01:00:00  2396.339058        5        0           2333.658988
2019-05-31 02:00:00  2231.845734        5        0           2154.949592
2019-05-31 03:00:00  2168.052861        5        0           2093.443608
2019-05-31 04:00:00  2155.356362        5        0           2065.317272
2019-05-31 05:00:00  2193.292203        5        0           2115.769811
2019-05-31 06:00:00  2250.352160        5        0           2183.611119
2019-05-31 07:00:00  2604.659827        5        0           2520.562534
2019-05-31 08:00:00  3069.376951        5        0           2945.361627
2019-05-31 09:00:00  3454.950974        5        0           3263.461910
2019-05-31 10:00:00  3691.740169        5        0           3485.548141
2019-05-31 11:00:00  3865.035406        5        0           3605.303570
2019-05-31 12:00:00  3976.957510        5        0           3685.267131
2019-05-31 13:00:00  3939.563344        5        0           3657.200759
2019-05-31 14:00:00  3675.390775        5        0           3365.472648
2019-05-31 15:00:00  3463.448502        5        0           3197.415506
2019-05-31 16:00:00  3301.249216        5        0           3090.548057
2019-05-31 17:00:00  3317.603182        5        0           3117.671501
2019-05-31 18:00:00  3411.694348        5        0           3287.299611
2019-05-31 19:00:00  3503.861099        5        0           3359.813812
2019-05-31 20:00:00  3644.787751        5        0           3531.698930
2019-05-31 21:00:00  3855.600792        5        0           3789.660269
2019-05-31 22:00:00  3528.632281        5        0           3487.997639
2019-05-31 23:00:00  3135.753597        5        0           3061.794878

[12384 rows x 4 columns]

In [22]:
data=final['XT']
data=pd.DataFrame(data)
data.head()

                              XT
Timestamp
2018-01-01 00:00:00  3933.209685
2018-01-01 01:00:00  3615.862294
2018-01-01 02:00:00  3531.408073
2018-01-01 03:00:00  3250.926682
2018-01-01 04:00:00  3027.204711

In [33]:
# split a univariate dataset into train/test sets
def split_dataset(data):
	# split into weeks-εδ΄ω προκειμένου να εχω διακριτα train και test σύμφωνα με το παράδειγμα πρεπει να τα σπασω σε βδομάδες
    #όμως ετσι θα αφήνω δεδομένα εκτός προκειμένου να συμπληρώνονται ολόκληρες βδομάδες για αυτό χωρίζω έτσι το train και test 
    #για να μην εχω error not equal division
	train, test = data[0:11592], data[11592:12264]
	# restructure into windows of weekly data
	train = array(split(train, len(train)/168))
	test = array(split(test, len(test)/168))
	return train, test

In [34]:
# evaluate one or more weekly forecasts against expected values
def evaluate_forecasts(actual, predicted):
	scores = list()
	# calculate an RMSE score for each day
	for i in range(actual.shape[1]):
		# calculate mse
		mse = mean_squared_error(actual[:, i], predicted[:, i])
		# calculate rmse
		rmse = sqrt(mse)
		# store
		scores.append(rmse)
	# calculate overall RMSE
	s = 0
	for row in range(actual.shape[0]):
		for col in range(actual.shape[1]):
			s += (actual[row, col] - predicted[row, col])**2
	score = sqrt(s / (actual.shape[0] * actual.shape[1]))
	return score, scores

In [35]:
# summarize scores
def summarize_scores(name, score, scores):
	s_scores = ', '.join(['%.1f' % s for s in scores])
	print('%s: [%.3f] %s' % (name, score, s_scores))

In [36]:
# convert history into inputs and outputs
def to_supervised(train, n_input, n_out=48):
	# flatten data
	data = train.reshape((train.shape[0]*train.shape[1], train.shape[2]))
	X, y = list(), list()
	in_start = 0
	# step over the entire history one time step at a time
	for _ in range(len(data)):
		# define the end of the input sequence
		in_end = in_start + n_input
		out_end = in_end + n_out
		# ensure we have enough data for this instance
		if out_end <= len(data):
			x_input = data[in_start:in_end, 0]
			x_input = x_input.reshape((len(x_input), 1))
			X.append(x_input)
			y.append(data[in_end:out_end, 0])
		# move along one time step
		in_start += 1
	return array(X), array(y)

In [56]:
# train the model
def build_model(train, n_input):
	# prepare data
	train_x, train_y = to_supervised(train, n_input)
	# define parameters
	verbose, epochs, batch_size = 0, 2, 100
	n_timesteps, n_features, n_outputs = train_x.shape[1], train_x.shape[2], train_y.shape[1]
	# define model
	model = Sequential()
	model.add(LSTM(200, activation='relu', input_shape=(n_timesteps, n_features)))
	model.add(Dense(100, activation='relu'))
	model.add(Dense(n_outputs))
	model.compile(loss='mse', optimizer='adam')
	# fit network
	model.fit(train_x, train_y, epochs=epochs, batch_size=batch_size, verbose=verbose)
	return model

In [57]:
# make a forecast
def forecast(model, history, n_input):
	# flatten data
	data = array(history)
	data = data.reshape((data.shape[0]*data.shape[1], data.shape[2]))
	# retrieve last observations for input data
	input_x = data[-n_input:, 0]
	# reshape into [1, n_input, 1]
	input_x = input_x.reshape((1, len(input_x), 1))
	# forecast the next week
	yhat = model.predict(input_x, verbose=0)
	# we only want the vector forecast
	yhat = yhat[0]
	return yhat

In [58]:
# evaluate a single model
def evaluate_model(train, test, n_input):
	# fit model
	model = build_model(train, n_input)
	# history is a list of weekly data
	history = [x for x in train]
	# walk-forward validation over each week
	predictions = list()
	for i in range(len(test)):
		# predict the week
		yhat_sequence = forecast(model, history, n_input)
		# store the predictions
		predictions.append(yhat_sequence)
		# get real observation and add to history for predicting the next week
		history.append(test[i, :])
	# evaluate predictions days for each week
	predictions = array(predictions)
	score, scores = evaluate_forecasts(test[:, :, 0], predictions)
	return score, scores

In [59]:
# split into train and test
train, test = split_dataset(data.values)
# evaluate model and get scores
n_input = 168
score, scores = evaluate_model(train, test, n_input)
# summarize scores
summarize_scores('lstm', score, scores)

KeyboardInterrupt: